[submodule "flashinfer"]
	path = flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
[submodule "3rdparty/flashinfer"]
	path = 3rdparty/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
[submodule "3rdparty/tokenizers-cpp"]
	path = 3rdparty/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp.git
[submodule "3rdparty/minja"]
	path = 3rdparty/minja
	url = https://github.com/ochafik/minja.git
[submodule "3rdparty/safetensors-cpp"]
	path = 3rdparty/safetensors-cpp
	url = https://github.com/syoyo/safetensors-cpp.git
